{% extends 'base.html.twig' %}

{% block title %}  PROSTAGE - Accueil {% endblock %}


{% block lienBouton %}
<!-- Changement du bouton par défaut, on le fait devenir filtrer pour accéder à notre page de filtrage -->
  <a href="filtrage"
{% endblock %}

{% block labelBouton %}
  Filtrer
{% endblock %}

{% block contenuP %}
<div class="cadreBB">
  <table class="table">	<!-- Tableau des offres de stage -->
  	<thead>
  		<tr>
        <th scope="col">Id</th>
  			<th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">Formations</th>
  	    <th scope="col">Nom etp</th>
  	    <th scope="col">Activité etp</th>
  	    <th scope="col">Adresse etp</th>
  	    <th scope="col">Email etp</th>
  		</tr>
  	</thead>
  	<tbody>
  			{% for stageCourant in stages %}
  			<tr>
          <td> <a href="{{path('prostage_stage',{idStage:stageCourant.id})}}"> {{stageCourant.id}} </a></td>
          <td> {{stageCourant.titre}} </td>
          <td> {{stageCourant.description}} </td>
          <td>
               {% for formationCourante in stageCourant.Formation %}
               {{formationCourante.Formation}}
               {% if loop.last == false %} / {%endif%}
               {% endfor %}
          </td>
          <td> {{stageCourant.entreprise.nom}} </td>
          <td> {{stageCourant.entreprise.activite}} </td>
          <td> {{stageCourant.entreprise.adresse}} </td>
          <td> {{stageCourant.email}} </td>
  		  </tr>
  		  {% endfor %}

  	</tbody>
  </table>
</div>

{% endblock %}
