{% extends 'base.html.twig' %}

{% block title %}

PROSTAGE - n°{{stage.id}}

{% endblock %}


{% block contenuP %}

	<div class="row">

		<!-- Partie concernant l'offre de stage -->
		<div class="col-md-8 col-sm-12"  style="margint-top:10%;">
      <div class="cadreBB">

				<strong>{{stage.titre}}</strong>

				<i>({% for formationCourante in stage.Formation %}
				{{formationCourante.Formation}}
				{% if loop.last == false %} / {%endif%}
				{% endfor %} )</i><br>

  			Description: <br> "{{stage.description}}" <br> <br>
      </div>
    </div>

    		<!-- Partie concernant les informations de l'entreprise -->
    <div class="col-md-4 col-sm-12" style="margint-top:10%;">
      <div class="cadreBB">
    			<strong>{{stage.entreprise.nom}} </strong> <br>
    			<i>{{stage.entreprise.adresse}} <br>
						 {{stage.entreprise.activite}} </i><br>

      </div>
		</div>
	</div>


{% endblock %}
