{% extends 'base.html.twig' %}

{% block titreP %}	<!-- titre de la page avec l'identifiant du stage en question -->

PROSTAGE - Stage n°{{idStage}}

{% endblock %}


{% block contenuP %}

	<div class="row">

		<!-- Partie concernant l'offre de stage -->
		<div class="col-md-8 col-sm-12"  style="margint-top:10%;">
      <div class="cadreBB">

				{{Stage.titre}}

				{% for formationCourante in stages.Formation %}
				{{formationCourante.Formation}}
				{% if loop.last == false %} / {%endif%}
				{% endfor %} <br>

  			{{Stage.description}} <br> <br>
      </div>
    </div>

    		<!-- Partie concernant les informations de l'entreprise -->
    <div class="col-md-4 col-sm-12" style="margint-top:10%;">
      <div class="cadreBB">
    			Entreprise: <br>
    			{{Stage.entreprise.nom}} <br>
    			{{Stage.entreprise.adresse}} <br>
      </div>
		</div>
	</div>


{% endblock %}
